:root{
    --primary:#0d6efd;
    --secundary:rgba(5,71,129,255);

    --card-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
}

* {
 box-sizing: border-box;
 font-family: 'montserrat',sans-serif;
}


#skills{
color:rgba(0,0,0,0.6);
font-size: 1.05em;
}

.skill-container{
  
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
    background: #ffffff;
     margin-top: -248px;
     border-radius: 22px;
     border: 2px solid rgba(0,0,0,0.1);
     box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);

    
}

    /* min-height: 100%;
   background-color: red;
    margin-top: -248px;
    border-radius: 22px;
    
    background: #ffffff;height: 675px;
    border: 2px solid rgba(0,0,0,0.1);
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3); */

#skills div{
    border-right: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 20px;

}
 #skills .skill-content{
    height: 100%;
    text-align: center;padding-top: 45px;padding-right: 25px;padding-left: 25px;
} 

.skill-header{
    font-family: 1em !important;
    color: black;
    margin-bottom: 50px;
}

.skill-list{
  list-style-type: none!important;
  margin: 0;
  padding: 0;

}

.list-item{
    padding: 5px;

}



.skills-secundary-header{
    margin-top: 40px;
    color:var(--primary)
}

#portfolio{
    background-color:#fbfbfd;
    position: relative;
}
#portfolio .col-md-4{
    box-shadow: var(--card-shadow);
}


.image-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:var(--secundary);
  }
  .image-container{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    
  }
  
  .image-container:hover .image-content {
    opacity: 1;
  }
.portfolio-img{
    display: block;
    width: 100%;
    height: auto;
  }

.image-text{

    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.container:hover .overlay {
    opacity: 1;
  }